<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
	<head>
		<title>New Budget - Slab on Grade Update</title>
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	</head>
	<div class="wrapper">
		<body>
			
		<div class="nav">
			<a href={% url 'index' %}><div class="button"> Budgets </div></a>
                        <a href={% url 'proposals' %}><div class="button"> Proposals</div></a>
                        <a href={% url 'project' %}><div class="button">Project</div></a>
                        <a href={% url 'reports' %}><div class="button">Reports</div></a>
                        <a href={% url 'admin' %}><div class="button">Admin</div></a>
		</div>
			
			<div class="content">
				
				<div style="margin: auto; max-width: 80%;">
					<div class="text">
						<input style="font-size:30px; text-align: center; margin: auto; display:inline;" placeholder="Slab Description"></input>
					</div>
					<div class="text" style="margin-left: 2%;font-weight: bold;">Grading Mat Thick (in.):
						<input type="text"></input>
					</div>
				</div>
							
				<table class="top_table">
					<thead>
						<tr><th><div class="text">Thickness (in.)</div></th>
							<th><div class="text">Width (ft.)</div></th>
							<th><div class="text">Len (ft.)</div></th>
							<th><div class="text">Slab Area</div></th>
							<th><div class="text">Perimeter</div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> <input type="text"></input> </td>
							<td> <input type="text"></input> </td>
							<td> <input type="text"></input> </td>
							<td> <input type="text"></input> </td>
							<td> <input type="text"></input> </td>
						</tr>
					</tbody>
				</table>
				
					<h2 class="TableName"> Concrete </h2>
				
					<table>
						<thead>
							<tr>
								<th/>
								<th/>
								<th/>
								<th><div class="text">Budget</div></th>
								<th><div class="text">Quantity</div></th>
								<th><div class="text">Units</div></th>
								<th><div class="text">Unit Cost</div></th>
								<th><div class="text">Tax Subtotal</div></th>
								<th><div class="text">Subtotal</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr> 
								<td><input type="checkbox" value="ConcreteMix"/></td>
								<td>Concrete Mix</td>
								<td><select name="ConcreteMix">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>CY</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="Additive1"/></td>
								<td>Additive #1</td>
								<td><select name="Additive1">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="Additive2"/></td>
								<td>Additive #2</td>
								<td><select name="Additive2">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="Core"/></td>
								<td>Core</td>
								<td><select name="Core">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>GAL</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
						</tbody>
					</table>
					
					
					<h2 class="TableName"> Lumber </h2>
				
					<table>
						<thead>
							<tr>
								<th/>
								<th/>
								<th/>
								<th><div class="text">Budget</div></th>
								<th><div class="text">Quantity</div></th>
								<th><div class="text">Units</div></th>
								<th><div class="text">Unit Cost</div></th>
								<th><div class="text">Tax Subtotal</div></th>
								<th><div class="text">Subtotal</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr> 
								<td><input type="checkbox" value="PerimeterForms"/></td>
								<td>Primeter Forms</td>
								<td><select name="Perimeter Forms">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>EA</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="BulkHeads"/></td>
								<td>Bulk Heads/Hdrs</td>
								<td><select name="BulkHeads">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>EA</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
						</tbody>
					</table>
					
					<h2 class="TableName"> Materials </h2>
				
					<table>
						<thead>
							<tr>
								<th/>
								<th/>
								<th/>
								<th><div class="text">Budget</div></th>
								<th><div class="text">Quantity</div></th>
								<th><div class="text">Units</div></th>
								<th><div class="text">Unit Cost</div></th>
								<th><div class="text">Tax Subtotal</div></th>
								<th><div class="text">Subtotal</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr> 
								<td><input type="checkbox" value="VaporBarrier"/></td>
								<td>Vaper Barrier</td>
								<td><select name="VaperBarrier">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>SF</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="GradingMat"/></td>
								<td>Grading Material</td>
								<td><select name="GradingMat">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="AnchorBolts"/></td>
								<td>Anchor Bolts</td>
								<td><select name="AnchorBolts">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="ConcreteMisc"/></td>
								<td>Concrete Misc.</td>
								<td></td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>SF</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
							<tr> 
								<td><input type="checkbox" value="MaterialMisc"/></td>
								<td>Material Misc.</td>
								<td></td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td>SF</td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
						</tbody>
					</table>
					
					
					<h2 class="TableName"> Subcontractor </h2>
				
					<table>
						<thead>
							<tr>
								<th/>
								<th/>
								<th/>
								<th><div class="text">Budget</div></th>
								<th><div class="text">Quantity</div></th>
								<th><div class="text">Units</div></th>
								<th><div class="text">Unit Cost</div></th>
								<th><div class="text">Tax Subtotal</div></th>
								<th><div class="text">Subtotal</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr> 
								<td><input type="checkbox" value="Subcontractor1"/></td>
								<td>Subcontractor #1</td>
								<td><select name="Subcontractor1">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
						 	<tr> 
								<td><input type="checkbox" value="Subcontractor2"/></td>
								<td>Subcontractor #2</td>
								<td><select name="Subcontractor2">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
						 	<tr> 
								<td><input type="checkbox" value="Subcontractor3"/></td>
								<td>Subcontractor #3</td>
								<td><select name="Subcontractor3">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</td> 
								<td>Data</td>
								<td><input type="text"></input></td>
								<td></td>
								<td><input type="text"></input></td>
								<td>Data</td>
								<td>Data</td>
							</tr>
						</tbody>
					</table>					
						 	
					<div class="tableButtons">
						<button class="tab_button" type="Delete">Delete Checked</button>
						<a href={% url 'slab_grade' %}>
							<button class="tab_button" type="Cancel">Cancel</button>
						</a>
						<button class="tab_button" type="Save">Save</button>
					</div>		
			</div>
			
		
		</body>
		
		<footer>
			<a href={% url 'new_project' %}><button class="tab_button" type="GeneralConditions">General Conditions</button></a>
                        <a href={% url 'footings_table' %}><button class="tab_button" type="Footings">Footings</button></a>
                        <a href={% url 'slab_grade' %}><button class="tab_button" type="SlabOnGrade">Slab on Grade</button></a>
                        <a href={% url 'waste' %}><button class="tab_button" type="WasteCasting">Waste Slabs/Casting Beds</button></a>
                        <a href={% url 'tilt_up' %}><button class="tab_button" type="Tilt-Up">Tilt-Up Panels</button></a>
                        <a href={% url 'new_project' %}><button class="selected_button" type="CastInPlace">Cast in Place</button></a>
                        <a href={% url 'slab_deck' %}><button class="tab_button" type="SlabOnDeck">Slab on Deck</button></a>
		</footer>
	</div>
</html>
