<!Doctype html>
<html lang="en" class="gr__getbootstrap_com">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Key Estimating</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!--Reports Chart JavaScript-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <link href="carousel.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  
  <body>
    <header>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
            <a class="navbar-brand" style="color: white;">Key Estimating</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
  </header>

  <body>
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <div class="VerticalNav">
                <li class="nav-item">
                  <a class="nav-link" href="main_screen.html">Company Overview <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="reports.html">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="analytics.html">Analytics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="budgets.html">Budgets</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Proposals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Administrative Panel</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services.html">Services</a>
                </li>
                </div>
              </ul>
          
        </nav>

        <script type="text/javascript">
                google.charts.load('current', {packages: ['corechart', 'line']});
                google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

              var data = new google.visualization.DataTable();
              data.addColumn('number', 'X');
              data.addColumn('number', 'Bids Won');

              data.addRows([
                [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
                [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
                [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
                [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
                [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
                [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
                [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
                [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
                [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
                [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
                [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
                [66, 70], [67, 72], [68, 75], [69, 80]
              ]);



              var options = {
                height: 400,
                title: '2017 Bids Won',
                hAxis: {
                  title: 'Month'
                },
                vAxis: {
                  title: 'Bids Won'
                },
                animation: {
                "startup": true, duration: 1000,
                easing: 'out'},
                legend: 'none'
              };

              var chart = new google.visualization.LineChart(document.getElementById('chart_div'));


              chart.draw(data, options);
            }
    </script>
        <div class="GraphAndHeader">
            <h2>ANALYTICS</h2>
            <div id="chart_div"></div>
        </div>
            
    
</div>
</body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      
  </body>
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017 Key Estimating, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>