{% extends "base.html" %}
{% block budgetNav %}{% endblock %}
{% block content %}
    <div class="BudgetTable">
        <div class="BudgetTableButtons">
            <button type="button" class="btn btn-danger">Open Budgets</button>
            <button type="button" class="btn btn-warning">Pending Budgets</button>
            <button type="button" class="btn btn-success">Awarded Budgets</button>
            <button type="button" class="btn btn-primary">
                <a href={% url 'new_budget_information_page' %}  class="NewBudgetButton">New Budget</button></a>
            <div class="BudgetTableYearSelect">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table table-sm table-reponsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Budget Number</th>
                    <th>Job Name</th>
                    <th>Job Status</th>
                    <th>General Contractor</th>
                    <th>Internal Due Date</th>
                    <th>External Due Date</th>
                </tr>
                </thead>
                <tbody>

                {% if object_list %}
                    {% for budget in object_list %}
                        <tr>
                            <td>{{ budget.budget_id }}</td>
                            <td><a href="{% url 'budget_edit' budget.id %}">{{ budget.project_name }}</a></td>
                            <td>{{ budget.budget_complete }}</td>
                            <td>{{ budget.general_contractor }}</td>
                            <td>{{ budget.internal_due_date }}</td>
                            <td>{{ budget.external_due_date }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}