{% extends "base.html" %}
{% block budgetNav %}{% endblock %}
{% block content %}
    <div class="BudgetTable">
        <div class="BudgetTableButtons">
            <a href='#' class="btn btn-danger" role="button">Open Budgets</a>
            <a href='#' class="btn btn-warning" role="button">Pending Budgets</a>
            <a href='#' class="btn btn-success" role="button">Awarded Budgets</a>
            <a href={% url 'new_budget_information_page' %} class="btn btn-primary" role="button">New Budget</a>
            <div class="BudgetTableYearSelect">
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table table-sm table-responsive-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Budget Number</th>
                    <th>Job Name</th>
                    <th>Job Status</th>
                    <th>General Contractor</th>
                    <th>Internal Due Date</th>
                    <th>External Due Date</th>
                </tr>
                </thead>
                <tbody>

                {% if object_list %}
                    {% for budget in object_list %}
                        <tr>
                            <td>{{ budget.budget_id }}</td>
                            <td style="padding-right: 2em">
                                <a href="{% url 'budget-detail' budget.id %}">{{ budget.project_name }}</a>
                                <a href="{% url 'budget_edit' budget.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="float: right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </td>
                            <td>{{ budget.budget_complete }}</td>
                            <td>{{ budget.general_contractor }}</td>
                            <td>{{ budget.internal_due_date }}</td>
                            <td>{{ budget.external_due_date }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}