{% extends "base.html" %}
{% block headScripts %}
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
{% endblock %}
{% block content %}

<div class="table table-responsive table-bordered table-hover"> <!--Come back and see if I can keep table window limited to certain number rows... either use pagination or a scrollable window. Django has pagination built in-->
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th></th>
            <th>Description</th>
            <th>Type</th>
            <th>Length</th>
            <th>Count</th>
            <th>Mix Design</th>
            <th>Cubic Yards</th>
            <th>PSI</th>
            <th>Materials</th>
        </tr>
        </thead>
        <tbody>
            {% if lstFootings %}
                {% for footing in lstFootings %}
                <tr>
                    <td>
                        <a href="{% url 'footing_delete' footing.id %}" class="btn btn-danger btn-sm" role="button" aria-pressed="true" style="float: right">Delete</a>
{#                            Old code for checkbox#}
{#                        <div class="input-group">#}
{#                          <span class="input-group-addon">#}
{#                            <input type="checkbox">#}
{#                          </span>#}
{#                        </div>#}
                    </td>
                    <td><a href="{% url 'footing_edit' footing.id %}">{{ footing.footing_description }}</a></td>
                    <td>{{ footing.footing_type }}</td>
                    <td>{{ footing.footing_length }}</td>
                    <td>{{ footing.footing_count }}</td>
                    <td>{{ footing.footing_concrete_mix }}</td>
                    <td>data not available</td>
                    <td>data not available</td>
                    <td>data not available</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
  </div>
    <a href={% url 'new_budget_insert_footing' %}><button type="button" class="btn btn-primary">Insert Footing</button></a>
{#    <button type="button" class="btn btn-primary">Copy Footing</button>#}
{#    <button type="button" class="btn btn-danger">Delete Footing</button>#}

    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to delete "{{ object }}" ?</p>
                <form method="post">{% csrf_token %}
                    <a href={% url 'new_budget_footings' %}<button type="button" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Confirm" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


    <input type="submit" value="Submit" />
