<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<div class="wrapper">
		<head>
			<title>New Budget - Footings Table Update</title>
			<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
		</head>

		<body>
			<div class="nav">
				<a href={% url 'index' %}><div class="button"> Budgets </div></a>
                                <a href={% url 'proposals' %}><div class="button"> Proposals</div></a>
                                <a href={% url 'project' %}><div class="button">Project</div></a>
                                <a href={% url 'reports' %}><div class="button">Reports</div></a>
                                <a href={% url 'admin' %}><div class="button">Admin</div></a>

			</div>
			
			<div class="content">
				
				<table class="top_table">
					<thead>
						<tr>
							<th><div class="text"> Description: </div></th>
							<th><div class="text">  Footing Type: </div></th>
							<th><div class="text">  Width: </div></th>
							<th><div class="text">  Depth (in.) </div></th>
							<th><div class="text">  Len (ft.) </div></th>
							<th><div class="text">  Area: </div></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td> <input type="text"></input> </td>
							<td> 
								<select name="FootingType">
									<option value="Populate">Database Population 1</option>
									<option value="Populate">Database Population 2</option>
									<option value="Populate">Database Population 3</option>
									<option value="Populate">Database Population 4</option>
								</select> 
							</td>
							<td> <input type="text"></input> </td>
							<td> <input type="text"></input> </td>
							<td> <input type="text"></input> </td>
							<th>  Database Calc </td>
						</tr>
					</tbody>
				</table>
				
				<table>
					<thead>
						<tr>
							<th/>
							<th/>
							<th/>
							<th><div class="text">Budget</div></th>
							<th><div class="text">Quantity</div></th>
							<th><div class="text">Units</div></th>
							<th><div class="text">Unit Cost</div></th>
							<th><div class="text">Tax Subtotal</div></th>
							<th><div class="text">Subtotal</div></th>
						</tr>
					</thead>
					<tbody>
						<tr> 
							<td><input type="checkbox" value="ConcreteMix"/></td>
							<td>Concrete Mix</td>
							<td><select name="ConcreteMix">
								<option value="Populate">Database Population 1</option>
								<option value="Populate">Database Population 2</option>
								<option value="Populate">Database Population 3</option>
								<option value="Populate">Database Population 4</option>
							</td> 
							<td>Data</td>
							<td><input type="text"></input></td>
							<td>CY</td>
							<td><input type="text"></input></td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr> 
							<td><input type="checkbox" value="ConcreteGrout"/></td>
							<td>Concrete Grout</td>
							<td><select name="ConcreteGrout">
								<option value="Populate">Database Population 1</option>
								<option value="Populate">Database Population 2</option>
								<option value="Populate">Database Population 3</option>
								<option value="Populate">Database Population 4</option>
							</td> 
							<td>Data</td>
							<td><input type="text"></input></td>
							<td></td>
							<td><input type="text"></input></td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr> 
							<td><input type="checkbox" value="FootingLumber"/></td>
							<td>Footing Lumber</td>
							<td><select name="FootingLumber">
								<option value="Populate">Database Population 1</option>
								<option value="Populate">Database Population 2</option>
								<option value="Populate">Database Population 3</option>
								<option value="Populate">Database Population 4</option>
							</td> 
							<td>Data</td>
							<td><input type="text"></input></td>
							<td>EA</td>
							<td><input type="text"></input></td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr> 
							<td><input type="checkbox" value="Subcontracter"/></td>
							<td>Subcontracter</td>
							<td><select name="Subcontracter">
								<option value="Populate">Database Population 1</option>
								<option value="Populate">Database Population 2</option>
								<option value="Populate">Database Population 3</option>
								<option value="Populate">Database Population 4</option>
							</td> 
							<td>Data</td>
							<td><input type="text"></input></td>
							<td></td>
							<td><input type="text"></input></td>
							<td>Data</td>
							<td>Data</td>
						</tr>
						<tr> 
							<td><input type="checkbox" value="Misc"/></td>
							<td>Misc Materials</td>
							<td/> 
							<td>Data</td>
							<td><input type="text"></input></td>
							<td>CY</td>
							<td><input type="text"></input></td>
							<td>Data</td>
							<td>Data</td>
						</tr>
					</tbody>
				</table>
				
				<div class="tableButtons">
					<button class="tab_button" type="Delete">Delete Checked</button>
					<a href={% url 'footings_table' %}>
						<button class="tab_button" type="Cancel">Cancel</button>
					</a>
					<button class="tab_button" type="Save">Save</button>
				</div>
			
			</div>
			
		
		</body>
		
		<footer>
	                <a href={% url 'new_project' %}><button class="tab_button" type="GeneralConditions">General Conditions</button></a>
                        <a href={% url 'footings_table' %}><button class="tab_button" type="Footings">Footings</button></a>
                        <a href={% url 'slab_grade' %}><button class="tab_button" type="SlabOnGrade">Slab on Grade</button></a>
                        <a href={% url 'waste' %}><button class="tab_button" type="WasteCasting">Waste Slabs/Casting Beds</button></a>
                        <a href={% url 'tilt_up' %}><button class="tab_button" type="Tilt-Up">Tilt-Up Panels</button></a>
                        <a href={% url 'new_project' %}><button class="selected_button" type="CastInPlace">Cast in Place</button></a>
                        <a href={% url 'slab_deck' %}><button class="tab_button" type="SlabOnDeck">Slab on Deck</button></a>

		</footer>
	</div>
</html>
