{% extends "base.html" %}

{#TODO change inline CSS#}

{% block budgetNav %}{% endblock %}
{% block content %}
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>Dashboard</h1>

        <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Jobs Won/Jobs Lost</h4>
                <div class="text-muted">Percentage of Jobs Won vs Jobs Lost</div>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Job Size</h4>
                <span class="text-muted">Size of Jobs Won</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Budget Status</h4>
                <span class="text-muted">Open, Pending, and Closed Budgets</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                <h4>Average OH &amp; P</h4>
                <span class="text-muted">Average Overhead and Profit For All Jobs</span>
            </div>
        </section>
        <h2>Recent Budgets</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Budget Number</th>
                    <th>Job Name</th>
                    <th>Job Status</th>
                    <th>General Contractor</th>
                    <th>Internal Due Date</th>
                    <th>External Due Date</th>
                </tr>
                </thead>
                <tbody>

                {% if recentBudgets %}
                    {% for budget in recentBudgets %}
                        <tr>
                            <td>{{ budget.budget_id }}</td>
                            <td style="padding-right: 2em">
                                <a href="{% url 'budget-detail' budget.id %}">{{ budget.project_name }}</a>
                                <a href="{% url 'budget_edit' budget.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true" style="float: right">Edit</a>
                            </td>
                            <td>{{ budget.budget_complete }}</td>
                            <td>{{ budget.general_contractor }}</td>
                            <td>{{ budget.internal_due_date }}</td>
                            <td>{{ budget.external_due_date }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}

                </tbody>
            </table>
        </div>
    </main>
{% endblock %}