{% extends "base.html" %}
{% block headScripts %}
    <!-- JQuery Editable Table Box -->
    <link href="bootstrap-editable-v1/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <script src="bootstrap-editable-v1/bootstrap-editable/js/bootstrap-editable.min.js"></script>
{% endblock %}
{% block content %}
<div class="BudgetTable">
    <div class="btn-group" role="group">
        <a href={% url 'new_budget_general_conditions' %}><button type="button" class="btn btn-primary">General Conditions</button></a>
        <button type="button" class="btn btn-primary">Footings</button>
	<a href={% url 'new_budget_sog' %}><button type="button" class="btn btn-primary">Slab On Grade</button></a>
        <button type="button" class="btn btn-primary">Waste Slab/Casting Bed</button>
        <button type="button" class="btn btn-primary">Tilt-Up Panels</button>
        <button type="button" class="btn btn-primary">Cast In Place</button>
        <a href={% url 'new_budget_sod' %}><button type="button" class="btn btn-primary">Slab On Deck</button></a>
    </div>
    <div class="table table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>C.O.G &amp; Labor</th>
                <th>O/H %</th>
                <th>Overhead</th>
                <th>Profit %</th>
                <th>Profit</th>
                <th>Total</th>
                <th>$/CY</th>
                <th>$/SF</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="number" name="Total"></td>
                <td></td>
                <td></td>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
