{% extends 'base.html' %}

{% block content %}
    
    <div class="table table-reponsive table-hover"> <!--Come back and see if I can keep table window limited to certain number rows... either use pagination or a scrollable window-->
      <table class="table table-striped table-reponsive">
        <thead>
          <tr>
            <th>
              <div class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox">
                </span>
              </div>
            </th>
</th>
<th>Description</th>
<th>Type</th>
<th>Height</th>
<th>Width</th>
<th>Thickness</th>
<th>SF</th>
<th>Concrete</th>
<th>Total CY</th>
<th>PSI</th>
<th>Cost</th>
<th>Materials</th>
<th>PDI</th>
</tr>
</thead>
<tbody>

  {% if lstSlabOnDeck %}
    {% for SOD in lstSlabOnDeck %}

      <tr>
        <td>
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox">
            </span>
          </div>
        </td>
        <td>{{ SOD.slab_on_deck_description }}</td>
        <td>{{ SOD.slab_on_deck_type }}</td>
        <td>Height</td>
        <td>Width</td>
        <td>{{ SOD.slab_on_deck_thickness }}</td>
        <td>SF</td>
        <td>{{ SOD.slab_on_deck_concrete_mix }}</td>
        <td>CY</td>
        <td>PSI</td>
        <td>Cost</td>
        <td>Materials</td>
        <td>PDI</td>
      </tr>
    {% endfor %}
  {% endif %}
  
</tbody>
</table>
</div>

<a href={% url 'new_budget_insert_footing' %}><button type="button" class="btn btn-primary">Insert</button></a>
<button type="button" class="btn btn-primary">Copy</button>

{% endblock %}
