{% extends 'base.html' %}

{% block headScripts %}

{% endblock %}

{% block budgetNav %}{% endblock %}

{% block content %}
    <div class="col-lg-8" style="background-color: #F4F4F4; margin-left: 7%; margin-top: 1em; margin-bottom: auto; padding: 15px">
        <form action="" method="post"> {% csrf_token %}
            <div class="form-group">
                <label for="BudgetId">Budget ID</label>
                {{ form.budget_id }}
                <small id="budgetHelp" class="form-text text-muted">Do not duplicate existing budget number</small>
            </div>
            <div class="form-group">
                <label for="ProjectName">Project Name</label>
                {{ form.project_name }}
            </div>
            <div class="form-group">
                <label for="ZipCode">Zip Code</label>
                {{ form.zip_code }}
            </div>
            <div class="form-group">
                <label for="City">City</label>
                {{ form.city }}
            </div>
            <div class="form-group">
                <label for="State">State</label>
                {{ form.state }}
            </div>
            <div class="form-group">
                <label for="InternalDueDate">Internal Due Date</label>
                {{ form.internal_due_date }}
            </div>
            <div class="form-group">
                <label for="ExternalDueDate">External Due Date</label>
                {{ form.external_due_date }}
            </div>
            <div class="form-group">
                <label for="GeneralContractor">General Contractor</label>
                {{ form.general_contractor }}
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    {{ form.tax_exempt_status }} Tax Exempt
                    <!--<input type="checkbox" class="form-check-input">-->
                </label>
            </div>
            <a href={% url 'budgets' %}<button type="button" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}