{% extends 'base.html' %}
{% block content %}
            <div class="table table-responsive table-hover"> <!--Come back and see if I can keep table window limited to certain number rows... either use pagination or a scrollable window-->
            <table class="table table-striped table-responsive">
              <thead>
                <tr>
                  <th>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </th>
                  </th>
                  <th>Description</th>
                  <th>Width (in)</th>
                  <th>Height (ft)</th>
                  <th>Length (ft)</th>
                  <th>Area</th>
                  <th>SF</th>
                  <th>Concrete</th>
                  <th>Total CY</th>
                  <th>PSI</th>
                  <th>Cost</th>
                  <th>Materials</th>
                  <th>Perimeter</th>
                </tr>
              </thead>
              <tbody>

                {% if lstCastInPlace %}
                    {% for item in lstCastInPlace %}
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox">
                                    </span>
                                </div>
                            </td>
                            <td>{{ item.panel_description }}</td>
                            <td>{{ item.panel_thickness }}</td>
                            <td>{{ item.panel_height }}</td>
                            <td>{{ item.panel_length }}</td>
                            <td>{{ item.wall_area }}</td>
                            <td>Is SF square footage calc?</td>
                            <td>mixDesign.concrete_mix_description</td>
                            <td>Total concrete yardage calc?</td>
                            <td>pull from mixDesign.concrete_mix_psi</td>
                            <td>calculation of which fields?</td>
                            <td>Where does this come from?</td>
                            <td>Calculation from what fields?</td>
                        </tr>
                    {% endfor %}
                {% endif %}

              </tbody>
            </table>
            </div>
    <a href={% url 'new_budget_insert_footing' %}><button type="button" class="btn btn-primary">Insert</button></a>
    <button type="button" class="btn btn-primary">Copy</button>

{% endblock %}