{% extends 'base.html' %}
{% block content %}
            <div class="table table-reponsive table-hover"> <!--Come back and see if I can keep table window limited to certain number rows... either use pagination or a scrollable window-->
            <table class="table table-striped table-reponsive">
              <thead>
                <tr>
                  <th>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </th>
                  </th>
                  <th>Description</th>
                  <th>Width (in)</th>
                  <th>Height (ft)</th>
                  <th>Length (ft)</th>
                  <th>Area</th>
                  <th>SF</th>
                  <th>Concrete</th>
                  <th>Total CY</th>
                  <th>PSI</th>
                  <th>Cost</th>
                  <th>Materials</th>
                  <th>Perimeter</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                <tr>
                  <td>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <input type="checkbox">
                      </span>
                    </div>
                  </td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>1,001</td>
                  <td>Lorem</td>
                </tr>
                
              </tbody>
            </table>
          </div>
    <a href={% url 'new_budget_insert_footing' %}><button type="button" class="btn btn-primary">Insert</button></a>
    <button type="button" class="btn btn-primary">Copy</button>

{% endblock %}