{% extends "base.html" %}
{% block content %}

<div class="table table-reponsive table-bordered table-hover"> <!--Come back and see if I can keep table window limited to certain number rows... either use pagination or a scrollable window-->
    <table class="table table-striped table-reponsive">
        <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Description</th>
            <th>Length</th>
            <th>Count</th>
            <th>Mix Design</th>
            <th>Cubic Yards</th>
            <th>PSI</th>
            <th>Materials</th>
        </tr>
        </thead>
        <tbody>
            {% if lstFootings %}
                {% for footing in lstFootings %}
                <tr>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input type="checkbox">
                          </span>
                        </div>
                    </td>
                    <td>{{ footing.footing_type }}</td>
                    <td>{{ footing.footing_description }}</td>
                    <td>{{ footing.footing_length }}</td>
                    <td>{{ footing.footing_count }}</td>
                    <td>{{ footing.footing_concrete_mix }}</td>
                    <td>data not available</td>
                    <td>data not available</td>
                    <td>data not available</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
  </div>
    <a href={% url 'new_budget_insert_footing' %}><button type="button" class="btn btn-primary">Insert Footing</button></a>
    <button type="button" class="btn btn-primary">Copy Footing</button>
    <button type="button" class="btn btn-danger">Delete Footing</button>

{% endblock %}
