{% extends 'base.html' %}

{% block budgetNav %}{% endblock %}

{% block content %}

<div class="GeneralReportButtons">
  <h2>General Reports</h2>
  <a class="btn btAn-primary btn-lg btn-block" href="#" role="button">Forecast Report</a>
  <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Subcontractor Report</a>
  <a class="btn btn-primary btn-lg btn-block" href="#" role="button">GC History Report</a>
  <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Open Budget Report</a>
  <a class="btn btn-primary btn-lg btn-block" href="#" role="button">CO/T&amp;M Status Report</a>
  
</div>
  <div class="GeneralReportButtons2">
    <h2>Annualized Reports</h2>
    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Awards Report</a>
    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Budget Log Report</a>
    <a class="btn btn-primary btn-lg btn-block" href="#" role="button">C)/T&amp;M Log Report</a>
            
            
  </div>
</div>

{% endblock %}


    
