{% extends 'base.html' %}

{% block budgetNav %}{% endblock %}

{% block content %}
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <div class="g_maps_satellite">
            <iframe> 
                <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnLQrjX9hU9rZngbbArqVcMTQ4VqZPLpM&callback=initMap">
            
              var myLatlng = new google.maps.LatLng(-34.397, 150.644);
              var mapOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: 'satellite'
              };
              var map = new google.maps.Map(document.getElementById('map'),
                  mapOptions);
            </script>
            
            </iframe>
          </div>
        </main>
{% endblock %}



