{% extends 'base.html' %}

{% block budgetNav %}{% endblock %}

{% block content %}
      <div class="ServicesCards">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="maps.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Google Maps</h4>
            <p class="card-text">Get directions, find out the distance from your office to the job, see a street view of the job all from Google Maps</p>
            <a href="#" class="btn btn-primary">Google Maps</a>
          </div>
        </div>
      </div>
      <div class="ServicesCards">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="earth.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Google Earth</h4>
            <p class="card-text">View your project from Google Earth. Use all of Google Earth's tools to get all the information about the job site you will need.</p>
            <a href="#" class="btn btn-primary">Google Maps</a>
          </div>
        </div>
      </div>
      <div class="ServicesCards">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="maps.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Google Maps</h4>
            <p class="card-text">Get directions, find out the distance from your office to the job, see a street view of the job all from Google Maps</p>
            <a href="#" class="btn btn-primary">Google Maps</a>
          </div>
        </div>
      </div>
</body>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
      
  </body>

{% endblock %}
