{% extends 'base.html' %}

{% block budgetNav %}{% endblock %}

{% block content %}

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <div class="google_maps">
            <iframe 
                width="100%" height="100%" frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/directions?origin=St George, Utah&destination=Las Vegas, Nevada&key=AIzaSyAnLQrjX9hU9rZngbbArqVcMTQ4VqZPLpM" allowfullscreen>
            </iframe>
          </div> 
        </main>

{% endblock %}
