/*

********************************************
Colors:
Vertical Nav Text Color -> #595959
Vertical Nav Hover -> #11469b

********************************************
Fonts:
Vertical Nav Bar-> Rubic


********************************************
*/

.first-slide{
	width: 100%;
}

.second-slide{
	width: 100%;
}

.third-slide{
	width: 100%;
}

.container{
	margin-top: 2%;
}

.right-border{
	padding-right: 5px;
	border-right: solid;
	border-width: 1px;
}

.VerticalNav{

	font-family: 'Rubik', sans-serif;
	font-size: 20px;
}

.VerticalNav a{
	color: #595959;
}

.VerticalNav a:hover{
	color: #11469b;
}

footer{
	bottom: 0;
	left: 0;
}

.float-right{
	left: o;
}

.HomePageGraphs{
	position: relative;
	float: right;
}

.GraphAndHeader{
	height: 500px;
	width: 83%;
}
.GeneralReportButtons{
	margin-top: 2%;
	margin-left: 5%;
	width: 25%;
	
	padding-right: 5%;
}
.GeneralReportButtons a{
	margin-bottom: 20px;
}
.GeneralReportButtons2{
	margin-top: 2%;
	width: 25%;
	padding-left: 5%;
}

.GeneralReportButtons2 a{
	margin-bottom: 20px;
}

.BudgetTable{
	width: 83%;
	padding: 0;
}

.BudgetTableButtons{
	padding-top: 2%;
	padding-bottom: 1%;
}

.BudgetTableButtons button{
	width: 15%;
}

.BudgetTableYearSelect{
	width: 20%;
	display: inline-block;
	float: right;
	margin-right: 5%;
	padding-bottom: 1%;

}

.GraphAndHeader h2{
	text-align: center;
	margin-top: 20px;
}

.NewBudgetModalNav{
	width: 250px;
}

.NewBudgetButton{
	color: white;
}

.btn-group{
	margin-left: auto;
	margin-right: auto;
}

.ServicesCards{
	margin-left: 2%;
	margin-top: 2%;
}

.full-length-nav{
	height: 100vh;
}

.google_maps{
	width: 100%;
	height: 100vh;
}

.g_maps_satallite{
	width: 100%;
	height: 100vh;
}

/*
.insert_footing_modal{
	background-color: #F4F4F4;

}

.insert_footing_modal_dimensions{
	background-color: #F4F4F4;
	margin-top: 10px;
}

.footing_insert_modal_input{
	display: inline-grid;
}*/

.insert_footing_styling{
	height: 100vh;
}

.footings_update_form_box{
	background-color: #F4F4F4;
	display: inline-flex;
}

.input_test{
	background-color: #F4F4F4;
	padding-bottom: 25px;
}

.footing-dimensions{
	background-color: #F4F4F4;
	display: inline-flex;
	padding-bottom: 25px;
}

.footing-dimensions-botLeft{
	background-color: #F4F4F4;
	display: inline-flex;
	margin-top: 25px;
}

.label_footing_input{
	display: inline-flex;
}

.insert_footing_buttons{
	float: right;
	margin-top: 10px;
}

.add_padding{
	padding-top: 5px;
	padding-bottom: 5px;
}
